
body {
	font-size: 1em;
}
#frame {
	float:center;
	width:100%;
	padding-left:15%;
}
#wrapper {
	float:center;
	width:75%;
	./margin-left: 40px;
}
#breadcrumb{
margin:0px 10px 15px 10px;
text-align:center;
float:top;
font-size:1.2vw;

}
.text-loc h2{
padding-top:7px;
}
#page-title h2{
margin-top:15px;

}
#primarynav {
	float:left;
	text-align:center;
	margin:15px 10px 20px 10px;
	height:500px;
	max-width:20%;

}
#primarynav h4{
font-weight:normal;
}

.secondary-bg h1{
padding-top: 0px;
margin-top:0px;
font-size:14px;
font-size:2.5vw;
}
.secondary-bg {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-bottom-width: 0;
}
.main-column-width {
	width:160px;
	height:500px;
}
#content {
	float:left;
	min-width:200px;
	./max-width:560px;
	width:50%;
	display: block;
}
#locations {
	float:left;
	max-width:20%;
	text-align:center;
	margin:15px 10px 20px 10px;
	height:500px;
}
.block {
	float:left;
	width:175px;
}
.block h3 {
	text-transform: lowercase;
	text-align:center;
	background-color:#f4f4f4;
	margin: 0 10px 15px 10px;
}
.block li {
	float:left;
	min-width:65px;
}